<p class="success-m"><%= notice %></p>
<div class="container">
	<div class="row">
		<div class="col-xs-3"> 
			<%= render 'info' %>
			<%= render 'books/new' %>
		</div>

		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<thead>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</thead>

				<body>
					<% @user_book.each do |user_book| %>
					<tr>
						<td><%= link_to user_path(user_book.user_id) do%>
							<%= attachment_image_tag @user, :profile_image, size: "50x50",fallback: "no_image.jpg"%></td>
							<%end%>
						<td><%= link_to user_book.title, book_path(user_book.id) %></td>
						<td><%= user_book.body %></td>
					</tr>
					<%end%>
				</body>
			</table>
		</div> 

	</div>
</div>                


