<div class="container">
	<div class="row">
		<div class="col-lg-3"> 
			<%= render 'users/info' %>
			<%= render 'books/new' %>
		</div>

		<div class="col-lg-9">
			<h2>Book detail</h2>
			<table class="table">
				<thead></thead>

				<body>
					<td>
						<%= attachment_image_tag @user, :profile_image, size: "50x50",fallback: "no_image.jpg"%>
						<br>
						<%= @user.name %>
					</td>
					<td><%= @book_detail.title %></td>
					<td><%= @book_detail.body %></td>

					<% if @user == current_user %>
					<td>
						<%= button_to 'Edit', edit_book_path, method: :get, class:"green-btn btn btn-primasry" %>
					</td>
					<td>
						<%= button_to 'Destroy', book_path(@book_detail), method: :delete, data: { confirm: '本当に削除しますか？' } ,class:"red-btn btn btn-primasry" %>
					</td>
					<%end%>
				</body>
			</table>
		</div> 

	</div>
</div>                
